.textDemande {
    font-family: "Bernard MT Condensed", sans-serif;
    font-size: 15px;
  }

.textTitreDemande {
font-family: "Felix Titling", sans-serif;
font-size: 20px;

}

.boutonEye{
  border: 1px black solid;
  background: transparent;
  margin-bottom: 5px;
  background-color: #eed2cd;
}


.card {
  margin-top: 10px;
}


