.test{
    background-color: rgb(225, 239, 243);
    text-align: center;
    width: 50%;
}

.titreForm {

}

.elementForm{
    
}

.detailIguaneImage{
    width: 30%;
    
}

.textIguane {
    font-family: "Bernard MT Condensed", sans-serif;
    font-size: 20px;
}

