.textDescIguane {
    font-family: "Bernard MT Condensed", sans-serif;
    font-size: 20px;
  }

.textNomIguane {
font-family: "Felix Titling", sans-serif;
font-size: 28px;
}

.boutonEye{
  border: none;
  background: transparent;
}

.card {
  margin-top: 10px;
}


